<h1>Editar Vaga</h1>

<div class="well">
    <form #formVaga="ngForm" role="form"
    (ngSubmit)="atualizar()">
        <strong class="error"></strong>
        <div class="alert alert-danger" role="alert" *ngIf="msgErro">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error: {{msgErro}}</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="descricao">Descrição</label>
            <input type="text" class="form-control" name="descricao" id="descricao"
            [(ngModel)]="vaga.descricao" #descricao="ngModel"
            required minlength="5">
            <em *ngIf="!descricao.valid">Informar Descrição com no mínimo 5 caracteres.</em>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success" type="submit" [disabled]="!formVaga.valid" >
                Salvar
            </button>
            <a class="btn btn-default" [routerLink]="['/vagas']">
                Voltar
            </a>
        </div>
        <hr style="border: 0.5px dashed #ccc" />
    </form>
</div>
