<h1>Cadastrar Candidato</h1>

<div>
    <form [formGroup]="formCandidato" role="form" style="max-width: 500px"
        (ngSubmit)="cadastrar(formCandidato.value)" novalidate>
        <strong class="error"></strong>

        <div class="alert alert-danger" role="alert" *ngIf="msgErro">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error: {{msgErro}}</span>
        </div>

        <div class="form-group">
            <label for="nome"  class="control-label" >Nome/Name: *</label>
            <em *ngIf="formCandidato.get('nome').hasError('required') &&
            formCandidato.get('nome').touched">Obrigatório</em>
            <input type="text" id="nome" class="form-control"
            name="nome" formControlName="nome"/>
        </div>
        
        <div class="form-group">
            <label for="skype"  class="control-label" >Skype: ( please create an account if you don't have yet / bom criar caso não tenha): *</label>
            <em *ngIf="formCandidato.get('skype').hasError('required') &&
            formCandidato.get('skype').touched">Obrigatório</em>
            <input type="text" id="skype" class="form-control"
            name="skype" formControlName="skype"/>
        </div>

        <div class="form-group">
            <label for="linkedin"  class="control-label" >Linkedin</label>
            <input type="text" id="linkedin" class="form-control"
            name="linkedin" formControlName="linkedin"/>
        </div>

        <div class="form-group">
            <label for="telefone"  class="control-label" >Telefone/Phone (Whatsapp): *</label>
            <em *ngIf="formCandidato.get('telefone').hasError('required') &&
            formCandidato.get('telefone').touched">Obrigatório</em>
            <input type="text" id="telefone" class="form-control"
            name="telefone" formControlName="telefone"/>
        </div>

        <div class="form-group">
            <label for="email"  class="control-label" >E-mail: *</label>
            <em *ngIf="formCandidato.get('email').hasError('required') &&
            formCandidato.get('email').touched">Obrigatório</em>
            <input type="text" id="email" class="form-control"
            name="email" formControlName="email"/>
        </div>

        <div class="form-group">
            <label for="cidade"  class="control-label" >Cidade / City *</label>
            <em *ngIf="formCandidato.get('cidade').hasError('required') &&
            formCandidato.get('cidade').touched">Obrigatório</em>
            <input type="text" id="cidade" class="form-control"
            name="cidade" formControlName="cidade"/>
        </div>

        <div class="form-group">
            <label for="estado"  class="control-label" >Estado/ State *</label>
            <em *ngIf="formCandidato.get('estado').hasError('required') &&
            formCandidato.get('estado').touched">Obrigatório</em>
            <em *ngIf="formCandidato.get('estado').hasError('maxLength')">
            Máximo de 2 caracteres</em>
            <input type="text" id="estado" class="form-control"
            name="estado"  formControlName="estado"/>
        </div>

        <div class="form-group">
            <label  class="control-label">What is your hourly salary requirements? / Qual sua pretensão salarial por hora? *</label>
            <em *ngIf="formCandidato.get('pretencaoSalarioHora').hasError('required') &&
            formCandidato.get('pretencaoSalarioHora').touched">Obrigatório</em>
            <input type="number" id="pretencaoSalarioHora" class="form-control"
            name="pretencaoSalarioHora" formControlName="pretencaoSalarioHora"/>
        </div>

        <div class="form-group">
            <label  class="control-label" >C# *</label>
            <em *ngIf="formCandidato.get('nivelCSharp').hasError('required') &&
            formCandidato.get('nivelCSharp').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"></label>
                                <input type="radio" name="nivelCSharp"
                                [value]="i+1"
                                formControlName="nivelCSharp"/>
                            </div>
                            
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label">Asp.Net MVC *</label>
            <em *ngIf="formCandidato.get('nivelAspNetMvc').hasError('required') &&
            formCandidato.get('nivelAspNetMvc').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"></label>
                                <input type="radio" name="nivelAspNetMvc"
                                [value]="i+1"
                                formControlName="nivelAspNetMvc"/>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label">AngularJS *</label>
            <em *ngIf="formCandidato.get('nivelAngularJs').hasError('required') &&
            formCandidato.get('nivelAngularJs').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"></label>
                                <input type="radio" name="nivelAngularJs"
                                [value]="i+1"
                                formControlName="nivelAngularJs"/>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="control-label" >Jquery *</label>
            <em *ngIf="formCandidato.get('nivelJquery').hasError('required') &&
            formCandidato.get('nivelJquery').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"> </label>
                                <input type="radio" name="nivelJquery"
                                [value]="i+1"
                                formControlName="nivelJquery"/>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="control-label">Bootstrap *</label>
            <em *ngIf="formCandidato.get('nivelBootstrap').hasError('required') &&
            formCandidato.get('nivelBootstrap').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"> </label>
                                <input type="radio" name="nivelBootstrap"
                                [value]="i+1"
                                formControlName="nivelBootstrap"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="control-label">WordPress *</label>
            <em *ngIf="formCandidato.get('nivelWordpress').hasError('required') &&
            formCandidato.get('nivelWordpress').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"> </label>
                                <input type="radio" name="nivelWordpress"
                                [value]="i+1"
                                formControlName="nivelWordpress"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="control-label">Php *</label>
            <em *ngIf="formCandidato.get('nivelPhp').hasError('required') &&
            formCandidato.get('nivelPhp').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"> </label>
                                <input type="radio" name="nivelPhp"
                                [value]="i+1"
                                formControlName="nivelPhp"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="control-label">Android *</label>
            <em *ngIf="formCandidato.get('nivelAndroid').hasError('required') &&
            formCandidato.get('nivelAndroid').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"> </label>
                                <input type="radio" name="nivelAndroid"
                                [value]="i+1"
                                formControlName="nivelAndroid"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="control-label" >IOS *</label>
            <em *ngIf="formCandidato.get('nivelIos').hasError('required') &&
            formCandidato.get('nivelIos').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"> </label>
                                <input type="radio" name="nivelIos"
                                [value]="i+1"
                                formControlName="nivelIos"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="control-label" >IONIC *</label>
            <em *ngIf="formCandidato.get('nivelIonic').hasError('required') &&
            formCandidato.get('nivelIonic').touched">Obrigatório</em>
            <div class="container">
                <div class="col-md-1">
                    <div class="panel">
                        Nao conheco / I don't know
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline">
                        <li *ngFor="let item of list; let i = index">
                            <div class="col-md-1">
                                <label  class="control-label"> </label>
                                <input type="radio" name="nivelIonic"
                                [value]="i+1"
                                formControlName="nivelIonic"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <div class="panel">
                        Senior
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label">Portfolio: </label>
            <input type="text" id="portifolio" class="form-control"
            name="portifolio" formControlName="portifolio"/>
        </div>


        <div class="form-group">
            <label  class="control-label">(C#, Java, Angularjs, etc )In which programming languages you have knowledge? (Specify what has been studied in each) / Sobre quais linguagens de programação você tem conhecimento? (Especificar o que foi estudado em cada uma delas):</label>
            <input type="text" id="conhecimentoLinguagens" class="form-control"
            name="conhecimentoLinguagens" formControlName="conhecimentoLinguagens"/>
        </div>

        <div class="form-group">
            <label  class="control-label">Have knowledge of any content management system for web? / Tem conhecimentos em algum sistema de gerenciamento de conteúdo para web?</label>
            <input type="text" id="conhecimentoSGC" class="form-control"
            name="conhecimentoSGC" formControlName="conhecimentoSGC"/>
        </div>

        <div class="form-group">
            <label  class="control-label">What is your area of interest? / Qual sua área de interesse?</label>
            <input type="text" id="areaInteresse" class="form-control"
            name="areaInteresse" formControlName="areaInteresse"/>
        </div>

        <div class="form-group">
            <label class="control-label">How many hours have available a week? / Quantas horas tem disponível por semana? *</label>
            <em *ngIf="formCandidato.get('horasDisponivel').hasError('required') &&
            formCandidato.get('horasDisponivel').touched">Obrigatório</em>
            <input type="number" id="horasDisponivel" class="form-control"
            name="horasDisponivel" formControlName="horasDisponivel"/>
        </div>


        <div class="form-group">
            <label class="control-label">What time you have available and you want to work on projects Easy? / Qual o horário que tem disponível e que pretende trabalhar nos projetos da Easy? *</label>
            <em *ngIf="formCandidato.get('horarioDisponivel').hasError('required') &&
            formCandidato.get('horarioDisponivel').touched">Obrigatório</em>
            <input type="text" id="horarioDisponivel" class="form-control"
            name="horarioDisponivel" formControlName="horarioDisponivel"/>
        </div>
        <div class="form-group">
            <label  class="control-label">You search a job: / Você busca uma vaga: * </label>
            <div class="container">
                <div class="col-md-4">
                    <ul class="list-unstyled" formArrayName="vagasParaCandidato">
                        <li *ngFor="let vagas of formCandidato.controls['vagasParaCandidato'].controls; let i = index">
                        <div formGroupName="{{i}}">
                            <fieldset>
                                <input type="hidden" name="vagaId" formControlName="vagaId">
                                <input type="hidden" name="descricao" formControlName="descricao"
                                #descricao>
                                <label  class="control-label">
                                <input type="checkbox"
                                name="selecionado"
                                formControlName="selecionado">
                                &nbsp;&nbsp;{{descricao.value}}
                                </label>
                            </fieldset>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Bank Information / Paypal / Itau etc </label>
            <input type="text" id="informacaoBancaria" class="form-control"
            name="informacaoBancaria" formControlName="informacaoBancaria"/>
        </div>

        <div class="form-group">
            <label class="control-label">Comments - additional information / Comentários - informações adicionais: </label>
            <input type="text" id="comentarioAdicional" class="form-control"
            name="comentarioAdicional" formControlName="comentarioAdicional"/>
        </div>
        
        <div class="form-group text-center">
            <button class="btn btn-success" type="submit" [disabled]="!formCandidato.valid" >
                Cadastrar
            </button>
            <a class="btn btn-default" [routerLink]="['/candidatos']">
                Voltar
            </a>
        </div>
    </form>
    <div style="margin-top: 20px">
        <div>Form details:-</div>
        <pre>Is form valid?: <br>{{formCandidato.status | json}}</pre>
        <pre>Submitted value: <br>{{formCandidato.value | json}}</pre>
      </div>
</div>