<h1>Visualizar Candidato</h1>

<div class="row-fluid">
    <div class="col-md-8">
        <table class="table table-striped table-condensed">
        <tr>
            <th>ID</th>
            <td>{{ candidato.canditadoId }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ candidato.nome }}</td>
        </tr>
        </table>
        <div class="text-center">
            <a class="btn btn-default" [routerLink]="['/candidatos']">
                Voltar
            </a>
        </div>
    </div>
</div>
